body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    width: 90%;
    margin: 20px auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.form-container label {
    font-weight: bold;
    color: #1a3151;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    color: #1a3151;
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    resize: vertical;
}

.text-descr{
    display: flex;
    justify-content: center;
    gap: 7%;
}

.rad-report, .btn-report{
    display: flex;
    justify-content: center;
}

.rad-report input[type="radio"] {
    margin: 0px 5px 0px 15px;
}

p{
    margin-top: 15px;
    text-align: center;
}

.btn-report{
    gap: 70px;
}

/* Dropdown Styling */
.dropdown {
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
}

.dropdown .dropdown-header {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1a3151;
}

.dropdown .arrow {
    transition: transform 0.3s ease;
    color: #1a3151;
}

.dropdown-content {
    display: none;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown.open .dropdown-content {
    display: block;
}

button {
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100px;
}

button.save {
    background-color: #1a3151;
    color: #f4f4f4;
}

button.edit {
    background-color: #1a3151;
    color: #f4f4f4;
}